@{
    Layout = "_layout";
}
@model IEnumerable<ApplicationUser>
<html>

<head>
<title class="title-d">Our TourGuides</title>

</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div><center><h3>The best tour guide you can have in Jordan</h3></center></div>
<br>
<br>
<br>

<div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">BEST TOURGUIDES</h2>
              </div>
              <div class="title-link">
                <a class="nav-link " asp-controller="Home" asp-action="ourtourguides">All tourguides
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
<main class="grid">

        @foreach (var user in Model)
              {
                    
        <article>
              @if (user.profilepicture == null)
                                {
                                     <img src="~/usersimage/R.png" alt="" class="img-d img-fluid">
                                }else{
                                <img src="data:image/*;base64,@(Convert.ToBase64String(user.profilepicture ))" alt="" class="img-d img-fluid">}
      
    <div class="text">
        <br>
        <h3>@user.FirstName @user.LastName</h3>
        <br>
      <h3>@user.PhoneNumber</h3>
      <p>@user.Email</p>
      @*
   <button class='btn-bot' onclick="window.open('@p.moreinfoURL' ,'_blank') ;" >Book now</button>*@
   @*<button class='btn-bot' type="submit" asp-controller="Home" asp-action="CreateTour" >Book</button>*@
   <a class='btn-bot'    asp-controller="Home" asp-action="CreateTour"  >Create My Tour</a>
  </div>
  </article>
}


</main>
</body>
</html>

<style>
.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}

  .text > button {
background:#ffffff;
 color:black;
 padding:0.6rem 0.8rem;
 border:2px solid #2eca6a;
 border-radius:50px;
 text-transform:uppercase;
 letter-spacing:0.03em;

  }



</style>