@model IEnumerable<tour>
@{
    ViewData["title"] = "Users";
}

<h1>my tours</h1>

 <form class="form-a" method="post">
<table class="table table-striped mt-4">
    <thead>
<tr class="bg-primary text-white">

  
    <th>tourguide name</th>
    <th>tourguide phone</th>
    <th>date from</th>
    <th>date to</th>
    <th>place</th>
    <th>price</th>
    <th>  pay  </th>
    <th>status</th>
    <th>blance</th>
    <th>operation</th>
    
  


</tr>

    </thead>

    <tbody>
       @foreach(var tour in Model){
            <tr>
            
               <td>@tour.tourguidename</td>
               <td>@tour.tourguidephone</td>
               <td>@tour.FromDate</td>
               <td>@tour.ToDate</td>
               
               <td>@tour.plces</td>
               <td>@tour.price</td>
                <td> <a asp-action="pay"   asp-controller="tours" asp-route-id="@tour.Id">pays</a></td>
               <td>@tour.status</td>
               <td>@tour.balance</td>
             <td>
                
                <a asp-action="Details"   asp-controller="tours" asp-route-id="@tour.Id">Details</a> |
                <a asp-action="Delete" asp-controller="tours" asp-route-id="@tour.Id">Delete</a>
            </td>

            </tr>
            
       }
        
         


    </tbody>


</table>
<div>

       <a asp-controller="Home" asp-action="createtour">create new tour</a>
</div>
   </form>