@model IEnumerable<tour>
@{
    ViewData["title"] = "Users";
}

<h1>my tours</h1>


<table class="table table-striped mt-4">
    <thead>
<tr class="bg-primary text-white">

    <th>id</th>
    <th>tourguide name</th>
    <th>tourguide phone</th>
    <th>date from</th>
    <th>date to</th>

    <th>place</th>
    <th>price</th>


</tr>

    </thead>

    <tbody>
       @foreach(var tour in Model){
            <tr>
               <td>@tour.Id</td>
               <td>@tour.tourguidename</td>
               <td>@tour.tourguidephone</td>
               <td>@tour.FromDate</td>
               <td>@tour.ToDate</td>
               
               <td>@tour.plces</td>
               <td>@tour.price</td>
               
            </tr>

       }
        



    </tbody>


</table