@model graduationtourwebsite.Models.tour

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.plces)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.plces)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.clientphone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.clientphone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tourguides)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tourguides)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tourguidename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tourguidename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tourguidephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tourguidephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.custid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.custid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customerid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customerid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nameoncard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nameoncard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cvv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cvv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cardnumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cardnumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.exp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.exp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.priceafter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.priceafter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-controller="Users" asp-action="mytoursuser">Back to List</a>
</div>
